* {
  margin: 0;
  padding: 0; }

.bodycontacto {
  background-color: #fa9875; }

.h2 {
  background-color: coral; }

.p {
  background-color: coral; }

.facebook {
  border: solid 2px #383838;
  background-color: coral; }

.instagram {
  border: solid 2px #383838;
  background-color: coral; }

.whatsapp {
  border: solid 2px #383838;
  background-color: coral; }
