$color-principal:coral;
$color-secundario:rgb(250, 152, 117);
$color-terciario:rgb(56, 56, 56);

$font-principal:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-secundario:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
